<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>857252566584-hejokqbrumk6n7q4kekchvm882osn0k2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.857252566584-hejokqbrumk6n7q4kekchvm882osn0k2</string>
	<key>API_KEY</key>
	<string>AIzaSyDRQcdO6zgNJsICxOpiQTDZ16HmyGQh9PI</string>
	<key>GCM_SENDER_ID</key>
	<string>857252566584</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tekmamba.HoopZ</string>
	<key>PROJECT_ID</key>
	<string>hoopz-d791a</string>
	<key>STORAGE_BUCKET</key>
	<string>hoopz-d791a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:857252566584:ios:e96b9dfa34806aab9838cd</string>
	<key>DATABASE_URL</key>
	<string>https://hoopz-d791a.firebaseio.com</string>
</dict>
</plist>